#cabecera{
    display: flex;
    background-color: rgba(255, 255, 255, 0.663);
    height: 100px;
}
#cabecera--logo{
    width: 5%;
    height: 100%;
    align-items: center;
    margin: 0 30px;
    margin-left: 20px;
}
#cabecera--logo--img{
    height: 90px;
    width: 90px;
    align-items: center;
    margin-top: 5px;
    opacity: 0.85;
}
#cabecera--nombre{
    width: 25%;
    margin-left: 5px;
}
#cabecera--espacio{
    width: 25%;
}
#cabecera--barra{
    width: 45%;
    height: auto;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    margin-top: 0;
    height: 100%;
}

li{
    margin: auto;
    width: 100px;
    font-size: 20px;
}

#titulo{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#titulo--titulo{
    font-size: 80px;
    margin-left: 80px;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: rgb(8, 8, 8) 0 0 2px;
    width: 50%;
    
}
#titulo--espacio{
    width: 10%;
}
#titulo--figure{
    width: 30%;
    height: 50%;
    margin-right: 120px;
    margin-top: 80px;
}
#titulo--img{
    width: 100%;
    margin: 0;
    opacity: 0.75;
}
#boton--boton{
    margin-top: 0px;
    margin-left: 220px;
    width: 190px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
}

#skills{
    background-color: white;
    height: 600px;
    margin-top: 180px;
    border-radius: 80px 80px 0 0;
    opacity: 0.9;
}

#skills--titulo{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}
#skills--container{
    display: flex;
    text-align: center;
    background-color: brown;
    margin-top: 0;
}

.skills--container--article{
    background-color: bisque;
    align-items: center;
    padding: 0 5px;
}

.skills--container--article p{
    background-color: aqua;
}


body{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flh3.googleusercontent.com%2FQXbA5oyiAlei3Ucw6JZI2KaJ6CDPZB9E6lQ-rl01Ny_zMaq4Copa09x0qmP0EisF1w&f=1&nofb=1&ipt=0acd6e3371c8fdcaeee36724d9498e559e90044a24d171caec5da98f7a5d2551&ipo=images");
}
